.emacs.desktop*
TAGS
*~
auto-save-list
.#*
tramp
nohup.out
elpa/archives/gnu/archive-contents.signed
elpa/archives/gnu/archive-contents
elpa/archives/melpa-stable/archive-contents
projectile-bookmarks.eld
projectile.cache
elpa/gnupg/*.gpg
bookmarks
recentf
tutorial/
/#recentf#
server
/history
/elpa/archives/
/request/
/straight/
/elpa/
transient/history.el
compile_test.txt
/forge-database.sqlite
/eln-cache/
flycheck_init.el
/projects
/tree-sitter/*.dylib
/tree-sitter/timestamp.txt
/url/cache
/ido.last
/ellama-sessions/
/.cache/
